<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
	  <%= action_cable_meta_tag %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style' %>
    <%= stylesheet_link_tag    'materialize' %>
    
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.1.min.js' %>
    <%= javascript_include_tag 'materialize.min' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
